@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "Norse";
  src: url("fonts/Norse.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.container {
  display: flex;
}

.container .left-container {
  flex: 1;
  background-image: url(images/background-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.credit {
  position: absolute;
  bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.odin-logo {
  display: flex;
  z-index: 2;
}

.odin-logo img {
  height: 100px;
}

.text-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-container .black-strip {
  position: absolute;
  top: 150px;
  background-color: rgb(0 0 0 / 70%);
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.left-container .odin-text {
  font-family: "Norse", sans-serif;
  font-size: 5rem;
  color: white;
  font-weight: 900;
}

.container .right-container {
  flex: 2;
}

.credit a {
  color: rgba(245, 245, 245, 0.696);
}

.credit {
  color: rgba(245, 245, 245, 0.696);
  font-size: 0.7rem;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0px;
  background-color: #FAFAFA;
}

.hero-section {
  padding: 0px 30px;
  margin-bottom: 10px;
}

.right-container .hero-section {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.signup-form {
  padding-top: 30px;
  background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

}

.signup-form h3 {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 30px;
}
.signup-form .form-field {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-input {
  max-width: 350px;
  height: 30px;
  outline: none;
}

form {
  display: flex;
  flex-wrap: wrap; /* Allows items to drop to the next line */
  gap: 16px;
  padding: 20px 30px;
}

.form-field {
  flex: 1 1 calc(50% - 8px);
}

.cta-section button {
  padding: 20px;
  background-color: #596d48;
  color: whitesmoke;
}

input {
  border: 1px solid #e5e7eb;
  border-radius: 5px;
}

.pwd:user-invalid {
  border-color: red;
}

.form-input:focus {
  border: 1px solid blue;
box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.15); 
}

.cta-section {
  padding: 30px;
}

.create-ac-btn{
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  min-height: 30px;
  text-align: center;
}